---
layout: page
description: "Find below our posts..."
title: "Writing"
header-img: "assets/owner/hero/writing-bg.jpg"
permalink: /writing/
---

<div class="row">

{% for post in paginator.posts %}

{% assign post = site.posts.first %}
{% assign content = post.content %}

<div class="col-md-3 col-sm-6 col-xs-12 col-xxs-12">
    <div class="fh5co-post wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 1.1s; animation-name: fadeInLeft;">
        <div class="fh5co-post-image">
            <div class="fh5co-overlay"></div>	
            <div class="fh5co-category">
                {% for tag in post.tags %}
                    <a href="{{ site.baseurl }}/writing/tag/{{ tag | cgi_encode }}/" title="Other posts filed in {{ tag }} category" rel="tag">{{ tag }}</a> 
                {% endfor %%}
            </div>	
            <img src="{{ post.thumbnail }}" alt="Image" class="img-responsive">
        </div>
        <div class="fh5co-post-text">
            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ root_url }} {{ post.title }}</a></h3>
            <p>{{ root_url }} {{ post.subtitle }}</p>
        </div>
        <div class="fh5co-post-meta">
            <a href="#"><i class="fa fa-pencil"></i>{% if post.author %}{{ root_url }}{{ post.author }}{% else %}{{ root_url }}{{ site.title }}{% endif %} </a>
            <a href="#"><i class="fa fa-clock-o"></i>{{ root_url }}{{ post.date | date: "%B %-d, %Y" }}</a>
            <a href="#"><i class="fa fa-briefcase"></i>
                {{ post.category }}
            </a>
        </div>
    </div>
</div>
 {% endfor %}
 
 </div>

<p>&nbsp;</p>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    <span class="button-height" style="font-size:.45em;"> 
        Page {{ root_url }}{{paginator.page}} of {{ root_url }}{{paginator.total_pages}}
    </span>

    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

