<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="page-heading">
                    <h1>{{ include.title }}</h1>
                    {% if include.subTitle != "" %}
                        <hr class="small">
                        <span class="subheading">
                            {{ include.subTitle }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>