{% assign categories = ""%}
{% if include.path contains "posts" %}
{% comment %} posts are like /docs/python/_posts/2016-06-06-foobar.md {% endcomment %}
{% assign categories = include.path | split:"/" | pop %}
{% else %}
{% comment %} pages are like /docs/python/index.md {% endcomment %}
{% assign categories = include.path | split:"/" | pop  %}
{% endif %}
{% assign route="" %}

<a href="/">Home</a> {{categories}}
{% for category in categories %}
<span class="prompt">>></span>
{% assign route = route | append: '/' | append: category %}
{% if forloop.last and category == "_posts" %}
{{ include.title }}
{% elsif forloop.last %}
{{ category }}
{% else %}
<a href="{{ route }}">{{ category }}</a> 
{% endif %}
{% endfor %}