

<script>

    function DropDownTextToBox(select, textBox)
    {
        document.getElementById(textBox).value = select.options[select.selectedIndex].text;
    }

</script>

<header class="island" style="margin-top:0px;padding:80px 20px 20px 20px;;">
    <form class="js-form-search form-search" action="/search" method="get" role="search">
    <label style="font-size: 17px;" for="query">Search:</label>

    <div style="position: absolute;top: 80px; left: 90px;" id="outerFilterDiv">
        <input name="query" type="text" id="query" tabindex="2" style="height: 18px;color:#333;font-size: 13px;width: 140px;position: absolute; top: 1px; left: 1px; z-index: 2;border:none;" />
        <div style="position: absolute;" id="filterDropdownDiv">
            <select name="filterDropDown" id="filterDropDown" tabindex="1000" onchange="DropDownTextToBox(this,'query');" style="height: 20px;position: absolute;top: 0px; left: 0px; z-index: 1; width: 165px;">
                <optgroup label="Theme">
                    {% for photoTag in site.photo_tags %}
                        <option value="{{photoTag[1]}}">{{photoTag[0]}}</option>    
                    {% endfor %}
                </optgroup>
            </select>
        </div>
    </div>

    <input type="submit" value="Search" style="position: absolute;top: 80px; left: 280px;    height: 21px;
    font-size: 13px;
    color: #333;" />
    </form>
</header>

<div class="island" style="text-align: center">
    <h3 id="photoTitle"></h3>
    <div class="js-gallery gallery">
    <img src="" class="js-gallery__image" />
    <button class="js-gallery__arrow--left gallery__arrow gallery__arrow--left">
    </button>
    <button class="js-gallery__arrow--right gallery__arrow gallery__arrow--right">
    </button>
    </div>
</div>

<div class="island thumbnails" style="margin-bottom: -20px;">
    <ul class="js-thumbnails__list thumbnails__list"></ul>
    <ol class="js-thumbnails__pager thumbnails__pager"></ol>
</div>

<!-- include the Flickr client -->
<script src="{{ site.url }}/assets/libs/js/flickr/utility.js"></script>
<script src="{{ site.url }}/assets/libs/js/flickr/gallery.js"></script>
<script src="{{ site.url }}/assets/libs/js/flickr/flickr.js"></script>
<script src="{{ site.url }}/assets/libs/js/flickr/main.js"></script>
<script src="{{ site.url }}/assets/libs/js/flickr/script.js"></script>
<script>Website.Homepage.init();</script>