<!-- Footer -->
<footer style="min-height: 230px; padding-bottom:30px;">
    <div style="overflow:hidden;">
        <section id="photos"></section>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12"><h2 class="copyright">{{ site.title }} &copy;  {{ site.time | date: '%Y' }}</h2></div>
    </div>
    <div class="row">
        <div class="col-md-4" style="text-align: -webkit-center;padding:15px">
            <div class="fb-follow" data-colorscheme="dark" data-href="https://www.facebook.com/1052602931472479" data-layout="button_count" data-size="large" data-show-faces="true"></div>
        </div>

        <div class="col-md-4" style="padding:15px;">
            <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Contactez Nous</br>Contact Us</a>
        </div>

        <div class="col-md-4" style="text-align: -webkit-center;padding:15px">
            <a href="http://www.flickr.com/photos/127048817@N07/" title="Regardez mes photos sur Flickr !"><img src="https://s.yimg.com/pw/images/goodies/white-see-my-photos_fr.png" width="159" height="26" alt=""></a>
        </div>
    </div>
</footer>

<!-- jQuery -->    
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- include image popups -->
<script src="{{ site.url }}/assets/libs/js/jquery.magnific-popup.js"></script>


<script src="{{ site.url }}/assets/libs/js/map.js"></script>
<script src="{{ site.url }}/assets/libs/js/mosaic.js"></script>
<script src="{{ site.url }}/assets/libs/js/toc.js"></script>

<script src="{{ site.url }}/assets/libs/js/jqcloud.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBouHmvjOZCF3-_wbMlNKK_A9XTb8NCS0s"></script>

<script src="{{ site.url }}/assets/libs/js/markerclusterer.js"></script>

<script type="text/javascript">
      $(document).ready(function($) {
        $('a.popup').magnificPopup({
         type: 'image',
	  gallery:{
         enabled:true,
         navigateByImgClick: true,
         preload: [0,1] // Will preload 0 - before current, and 1 after the current image
       },
        image: {
            titleSrc: function(item) {
                    return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
                    }
                }
                // other options
            });
        });

    $(document).ready(function() {
        $('#toc').toc();
    });

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>

<!-- include Masonry -->
<script src="{{ site.url }}/assets/libs/js/isotope.pkgd.min.js"></script> 
<!-- include mousewheel plugins -->
<script src="{{ site.url }}/assets/libs/js/jquery.mousewheel.min.js"></script>
<!-- include carousel plugins -->
<script src="{{ site.url}}/assets/libs/js/jquery.tinycarousel.min.js"></script>
<!-- include svg line drawing plugin -->
<script src="{{ site.url }}/assets/libs/js/jquery.lazylinepainter.min.js"></script>
<!-- include custom script -->
<script src="{{ site.url }}/assets/libs/js/scripts.js"></script>
<!-- Modernizr -->
<script src="{{ site.url }}/assets/libs/js/modernizr.js"></script>

<script src="{{ site.url }}/assets/libs/js/timeline.js"></script>



<!-- Footnotes -->
<script type="text/javascript">
    initMosaic("{{ site.baseurl }}/assets/owner/mosaic");
</script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.url }}/assets/libs/js/main.min.js"></script>
