{% assign iconColor = "#2D7CA6" %}
{% assign post = include.postToPoint %}
{% if post.category == "roadmap" %} {% assign iconColor = "#D44141" %} {% endif %}
{% if post.category == "bilan" %} {% assign iconColor = "#38A353" %} {% endif %}
{% if post.category == "information" %} {% assign iconColor = "#D4C441" %} {% endif %}

<div class="map-point" iconColor="{{iconColor}}" title="{{ post.title }}" latitude="{{ post.location | split: ',' | first }}" longitude="{{ post.location | split: ',' | last }}">


<div style="
  height: 150px;
  width: 400px;
  background: #FFF;
  overflow:hidden;">
    <div style="display:inline-flex;">
        <div>
            <a href="{{ post.url | prepend: site.baseurl }}"><div >
                <div class="post-preview-overlay"></div>		
                    <img src="{{ post.thumbnail }}" alt="Image" class="img-responsive" style="height:150px;width:165px;min-width:165px;" />
                </div>
            </a>
        </div>
        <div>
            <h3 style="margin:5px;font-size:17px;font-weight:700!important;margin-top: 5px;" ><a href="{{ post.url | prepend: site.baseurl }}">{{ root_url }} {{ post.title }}</a></h3>
            <p style="font-size:14px;margin:5px;height:99px;min-height:99px;color:#444">{{ root_url }} {{ post.preview }}</p>
            <div style="font-size:13px;background-color:{{iconColor}};padding:2px 4px;color:white;width:100%;position:absolute;bottom:0px;">
                <span style="color:white !important;"><i class="fa fa-calendar" style="padding-right:3px;"></i>{{ root_url }}{{ post.date | date: "%-d %-b %y" }}</span>
                <span style="color:white !important;"><i class="fa fa-map-marker" style="padding-right:3px;padding-left:3px;"></i>{{ post.city | capitalize }}{% if post.city and post.country %} - {% endif %}{{ post.country | capitalize }}</span>
            </div>
        </div>
    </div>
  
</div>

    

</div>