{% assign iconColor = "#2D7CA6" %}
{% if post.category == "roadmap" %} {% assign iconColor = "#D44141" %} {% endif %}

<div class="map-point" iconColor="{{iconColor}}" title="{{ post.title }}" latitude="{{ post.location.latitude }}" longitude="{{ post.location.longitude }}">


    <div style="display:inline-flex;">
        <div>
            <a href="{{ post.url | prepend: site.baseurl }}"><div class="post-preview-image">
                <div class="post-preview-overlay"></div>		
                    <img src="{{ post.thumbnail }}" alt="Image" class="img-responsive"/>
                </div>
            </a>
        </div>
        <div class="post-preview-text">
                <h3 style="font-weight:600 !important;" ><a href="{{ post.url | prepend: site.baseurl }}">{{ root_url }} {{ post.title }}</a></h3>
                <p>{{ root_url }} {{ post.preview }}</p>
        </div>
    </div>
    <div class="post-preview-meta post-preview-meta-{{post.category}}">
        <a href="#"><i class="fa fa-calendar"></i>{{ root_url }}{{ post.date | date: "%-d %-b %y" }}</a>
        <a href="#"><i class="fa fa-map-marker"></i>{{ post.city | capitalize }}{% if post.city and post.country %}, {% endif %}{{ post.country | capitalize }}</a>
    </div>

    

</div>