{% assign iconColor = "#2D7CA6" %}
{% if post.category == "roadmap" %} {% assign iconColor = "#D44141" %} {% endif %}

<div class="map-point" iconColor="{{iconColor}}" title="{{ post.title }}" latitude="{{ post.location.latitude }}" longitude="{{ post.location.longitude }}">


<div style="
  height: 150px;
  width: 350px;
  background: #FFF;
  overflow:hidden;
  -webkit-box-shadow: 0px 5px 10px #888;
  -moz-box-shadow: 0px 5px 10px #888;
  -ms-box-shadow: 0px 5px 10px #888;
  -o-box-shadow: 0px 5px 10px #888;
  box-shadow: 0px 5px 10px #888;

  border-radius: 7px;">
    <div style="display:inline-flex;">
        <div>
            <a href="{{ post.url | prepend: site.baseurl }}"><div >
                <div class="post-preview-overlay"></div>		
                    <img src="{{ post.thumbnail }}" alt="Image" class="img-responsive" style="height:150px;width:165px;min-width:165px;" />
                </div>
            </a>
        </div>
        <div>
            <h3 style="margin:5px;font-size:14px;font-weight:600 !important;margin-top: 5px;" ><a href="{{ post.url | prepend: site.baseurl }}">{{ root_url }} {{ post.title }}</a></h3>
            <p style="font-size:14px;margin:5px;height:85px;">{{ root_url }} {{ post.preview }}</p>
            <div style="font-size:13px;background-color:#2D7CA6;padding:1px;color:white;" class="post-preview-meta-{{post.category}}">
                <a href="#"><i class="fa fa-calendar"></i>{{ root_url }}{{ post.date | date: "%-d %-b %y" }}</a>
                <a href="#"><i class="fa fa-map-marker"></i>{{ post.city | capitalize }}{% if post.city and post.country %}, {% endif %}{{ post.country | capitalize }}</a>
            </div>
        </div>
    </div>
  
</div>
    

</div>