{% assign displayMap = false %}
{% assign hideMarkers = false %}
{% if include.hideMarkers %}
    {% assign hideMarkers = include.hideMarkers %}
{% endif %}

{% assign mapZoom = 6 %}
{% if post.mapZoom %}
    {% assign mapZoom = post.mapZoom %}
{% endif %}

<div class="mapping" year="{{ post.date | date: "%Y" }}" hideMarkers="{{hideMarkers}}" zoom="{{mapZoom}}" googleStyle="{{include.googleStyle}}" mapId="{{include.id}}" style="display:none;" {% if page.itinary and include.displayItinary %} itinary="{{ site.baseurl }}/assets/owner/itinaries/{{ page.itinary }}" {% endif %} >
    <div class="map-canvas" id="map-event"></div>
    {% if include.relatedPosts %}
        {% assign postsToDisplay = include.relatedPosts | push: page %}
        {% for post in postsToDisplay %}
            {% if post.location %}
                {% assign displayMap = true %}
                {% include map_point.html postToPoint=post %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% if page.location %}
            {% assign displayMap = true %}
            {% include map_point.html postToPoint=page %}
        {% endif %}
    {% endif %}
</div>

{% if include.height %}
    {% assign mapHeight = include.height %}
 {% else %}  
    {% assign mapHeight = 400 %}
 {% endif %}

{% if displayMap %}
    <div id="{{include.id}}" style="width:100%;height:{{mapHeight}}px;background-color:#FEEEEE"></div>
{% endif %}