<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <i class="fa fa-bars fa-lg"></i>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/" title="Accueil" style="display: flex;">
                <img src="{{baseurl}}/assets/owner/2OZR.png" width="25px" style="margin-right:10px;" />
                {{ site.title }}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ root_url }}/writing">Articles</a></li>
                <li><a href="{{ root_url }}/pois">Points d'intérêts</a></li>
                <li><a href="{{ root_url }}/map">Cartes</a></li>
                <li><a href="{{ root_url }}/gallery?text=">Galerie</a></li>
                <li><a href="https://www.youtube.com/channel/UCOwPyMvDSTzLNLP8xoDLe2g">Vidéos</a></li>
                <li><a href="{{ root_url }}/about">Nous, notre projet</a></li>
                <li><a href="{{ root_url }}/info">Infos pratiques</a></li>
                <li>
                    <a href="{{ root_url }}/search" class="nav-search-link" title="SEARCH">
		                <span class="fa fa-search nav-search-icon"></span>
		            </a>
		        </li>
            </ul>
        </div>
    </div>
</nav>

