<div class="post-preview-category">      
                    
    {% assign pois = "" | split:"|"  %}
    {% assign poisDisplayName = "" | split:"|"  %}

    <!-- Retrieve all the used POI -->
    {% for post in site.posts %}
        {% if post.country == include.country or post.countries contains include.country %}
            {% for postPoi in post.pois %}
                {% assign cleanPoi = postPoi | split:'#' | first %}
                {% if pois contains cleanPoi %}
                {% else %}
                    {% assign pois = pois | push: cleanPoi %}
                {% endif %}
            {% endfor %}  
        {% endif %}
    {% endfor %}

    <!-- Get all their display name -->
    {% for poi in pois %}
        {% for dataPoi in site.data.pois %}
            {% if dataPoi.name == poi %}
                {% assign poisDisplayName = poisDisplayName | push: dataPoi.displayName %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <!-- Sort them -->
    {% assign poisDisplayName = poisDisplayName | sort %}

    <!-- Get all the other related information -->
    {% for poiDisplayName in poisDisplayName %}
        {% assign displayPoi = "NotFound" %}
        {% assign typePoi = "NotFound" %}
        {% assign iconPoi = "globe" %}
        {% assign countryPoi = "" %}
        
        {% for dataPoi in site.data.pois %}
            {% if dataPoi.displayName == poiDisplayName %}
                {% assign poiName = dataPoi.name %}
                {% assign typePoi = dataPoi.type %}
                {% assign countryPoi = dataPoi.country %}
                {% if typePoi == "ville" %}{% assign iconPoi = "building" %}{% endif %}
                {% if typePoi == "nature" %}{% assign iconPoi = "tree" %}{% endif %}
                {% if typePoi == "information" %}{% assign iconPoi = "info-circle" %}{% endif %}
            {% endif %}
        {% endfor %}

        {% if countryPoi == include.country %}

        <div class="poi-{{typePoi}}">
            <a href="{{ site.baseurl }}/writing/poi/{{poiName}}"/>
                <i style="width:13px;" class="fa fa-{{iconPoi}}"></i>{% if poiDisplayName == "NotFound" %}{{poiName}}{% else %} {{poiDisplayName}} {% endif %}
                {% if poiDisplayName == "NotFound" %}<i style="width:26px;color:red;" class="fa fa-exclamation-triangle"></i>{% endif %}                 
            </a>
        </div>

        {% endif %}

    {% endfor %}

</div>     