---
layout: default
title: "2 OnZeRoad"
description: "Carnet de voyages"
long-description: "Ils sont 2 sur les routes pour un voyage au long cours,
 ils débutent par l'Amérique du Nord... voilà leur histoire !!!"
header-img: "assets/owner/hero/home-bg.jpg"
permalink: ./index.html
---


<!-- <html class="no-js" lang="en">
  <head>
    <meta content="charset=utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  </head> -->


  <header class="intro-header" >
      <div style="background-position:center;background-size: cover;background-image: url('{{root_url}}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
          <div class="container" >
              <div class="row">
                  <div class="col-lg-10 col-lg-offset-1">
                      <div class="page-heading">
                          <h1>{{ page.title }}</h1>
                          <hr class="small">
                          <span class="subheading">{{ page.description }}</span>
                          <div class="long-description">
                              <div style="max-width: 540px;margin:auto;">
                                  <i class="fa fa-quote-left" aria-hidden="true"></i> 
                                  {{ page.long-description }} 
                                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="time-tag-categ">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-12" style="padding:20px 5px 5px 5px;text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                          <i class="fa fa-calendar" style="padding:0 5px 0 10px"></i> 530 jours
                          <i class="fa fa-thumb-tack" style="padding:0 5px 0 10px"></i> 5 pays
                          <i class="fa fa-truck" style="padding:0 5px 0 10px"></i> 80330 km                          
                          <i class="fa fa-male" style="padding:0 5px 0 10px"></i> 2138 km (trails)
                          <i class="fa fa-folder-open" style="padding:0 5px 0 10px"></i> 102 articles
                          <i class="fa fa-camera" style="padding:0 5px 0 10px"></i> 7561 photos publiées
                          <i class="fa fa-youtube-play" style="padding:0 5px 0 10px"></i> 26 vidéos publiées
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <div class="container">
    <!-- intro -->
    <div class="row">

      <div class="col-md-9">
        <section id="cd-timeline" class="cd-container">

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-map">
            </div>

            <div class="cd-timeline-content">
                <h4 style="font-weight:600 !important;font-size: 20px;margin-top: 0;position:absolute;top:-24px;letter-spacing: -1px;" ><a href="{{ post.url | prepend: site.baseurl }}">Notre dernière position...</a></h4>

                  <div style="height: 100%;overflow: hidden;
                  background-image: url('https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBouHmvjOZCF3-_wbMlNKK_A9XTb8NCS0s&zoom=6&size=540x270&maptype=roadmap&markers=color:blue%7Clabel:S%7C{{site.currentLocation.coordinates}}');background-size: cover;background-repeat: no-repeat;background-position: center;
                  "></div>

                <span class="cd-date">
                  <span style="color: white !important;"><i class="fa fa-calendar" style="color: #00C4ED"></i> {{site.currentLocation.date}}</span> </br>
                  <span style="padding-left:4px;color: white !important;"><i class="fa fa-map-marker googleMarker"></i> {{site.currentLocation.name}}</span>
                </span>
            </div>
          </div>

          {% assign pendingArticlesCount = 30 %}
          {% if site.posts.size < 38 %}
            {% assign pendingArticlesCount = pendingArticlesCount | minus:8 %}
          {% endif %}

          {% assign postCount = 0 %}
          {% for post in site.posts limit:38 %}
            {% assign postCount = postCount | plus:1 %}

            {% if post.country == null %}
                {% assign fullDestination = post.countries | join: " - " %}
            {% else %}
                {% assign fullDestination = post.country %}

                {% if post.states == null %}
                {% else %}
                    {% assign fullDestination = fullDestination | append: " - " %}
                {% endif %}

                {% for state in post.states %}
                    {% if forloop.last == true %}
                        {% assign fullDestination = fullDestination | append: state %}
                    {% else %}
                        {% assign fullDestination = fullDestination | append: state | append: " / " %}
                    {% endif %}
                {% endfor %}

                {% if post.city %}
                    {% assign fullDestination = fullDestination | append: " - " | append: post.city %}
                {% endif %}
            {% endif %}

            <div class="cd-timeline-block" {% if postCount > 8 %} style="display:none" {% endif %} >
              <div class="cd-timeline-img cd-{{post.category}}">
              </div>

              <div class="cd-timeline-content">
                  <h4 style="font-weight:600 !important;font-size: 20px;margin-top: 0;position:absolute;top:-24px;letter-spacing: -1px;" ><a href="{{ post.url | prepend: site.baseurl }}">{{ root_url }} {{ post.title }}</a></h4>

                  <div class="cd-timeline-content-bubble" style="height: 100%;display: flex">
                    <div style="height: 100%;width: 60%;overflow: hidden;">
                      <div class="cd-timeline-picture" style="width: 100%;height: 100%; background-image: url('{{post.thumbnail}}');background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
                    </div>
                    <div style="height: 100%;width: 240px;padding:5px 10px 5px 10px;font-size: 16px;line-height: 21px;">
                      {{ post.preview }}
                    </div>
                  </div>
                  <span class="cd-date">
                    <span style="color: white !important;"><i style="color: #00C4ED" class="fa fa-calendar googleMarker"></i> {{ root_url }}{{ post.date | date: "%-d %-b %y" }}</span> </br>
                    <span style="padding-left:4px;color: white !important;"><i class="fa fa-map-marker googleMarker"></i> {{ fullDestination }}</span> </br>
                    <div class="post-preview-category">
                        {% for tag in post.tags %}

                            {% assign displayTag = "" %}
                            {% for dataTag in site.data.tags %}
                                {% if dataTag.name == tag %}
                                    {% assign displayTag = dataTag.displayName %}
                                {% endif %}
                            {% endfor %}

                            {% if displayTag != "" %} 
                                <div><a href="{{ site.baseurl }}/writing/tag/{{ tag | slugify }}?tags={{tag | slugify}}" title="Autres posts taggés avec {{ tag }}" rel="tag">{{ displayTag }}</a></div>
                            {% endif %}
                        {% endfor %%}
                    </div>
                  </span>
              </div>
            </div>
          {% endfor %}

          <div class="cd-timeline-block" id="displayMoreArticlesBlock" style="height: 41px;">
            <div class="cd-timeline-img cd-map">
            </div>

            <div class="cd-timeline-content displayMoreArticles bg-primary" onclick="displayAllBlock();" style="height: 41px;">
               <div style="padding: 8px 12px;">Afficher les {{pendingArticlesCount}} articles suivants...</div>
            </div>
          </div>

        </section>
      </div>
   
      <div class="col-md-3" style="padding-left:70px;">
          <div>
              <a style="color:white !important;" href="{{ site.baseurl }}/map/itinary/"><h3><i class="fa fa-map-signs"></i> Notre itinéraire</h3></a>        
              <h3>Nos destinations</h3>
              {% assign destinations = "" | split:"|"  %}
              {% for post in site.posts %}
                {% if post.country != null %}
                  {% if destinations contains post.country %}
                  {% else %}
                    {% assign destinations = destinations | push: post.country %}
                  {% endif %}
                {% endif %}

              {% endfor %}

              {% for destination in destinations %}
                {% assign cleanCountry = destination | replace: 'é', 'e' | replace: 'è', 'e' | replace: 'ê', 'e' | replace: 'ë', 'e' | slugify   %}
                {% assign fullUrl = site.baseurl | append: "/writing/destination/" | append: cleanCountry | append: "/" %}

                {% assign destinationPage = site.pages | where: "url", fullUrl %}
                {% assign destinationMissing = true %}

                {% if destinationPage.first %}
                  
                  {% assign destinationMissing = false %}

                  {% if destinationPage.first.flickr-text == "" %}
                    {% assign tagClean = destinationPage.first.destination %}
                    {% if tagClean contains " - " %}
                      {% assign tagCleanArray = tagClean | split: " - "  %}
                      {% assign tagClean = tagCleanArray | last  %}
                      {% assign tagClean = tagClean | replace: ' ', '_'  %}
                    {% endif %}
                  {% else %}
                      {% assign tagClean = destinationPage.first.flickr-text %}
                  {% endif %}
            
                  {% assign urlParams = "?text=" | append: tagClean %}
                  {% if destinationPage.first.flickr-tags %}
                    {% assign urlParams = "?tags=" | append: destinationPage.first.flickr-tags %}                  
                  {% endif %}
                {% endif %}

                <div>
                  <a href="{{ fullUrl }}{{urlParams}}"/>
                      <i style="width:26px;color:#E6E6E6;" class="fa fa-globe"></i>{{destination}}                    
                      {% if destinationMissing %}<i style="width:26px;color:red;" class="fa fa-exclamation-triangle"></i>{% endif %}
                  </a>
                </div>
              
              {% endfor %}
          </div>
          <hr />
          <div>
              <h3>Catégories</h3>
              {% assign categories = "" | split:"|"  %}
              {% for post in site.posts %}
              {% if categories contains post.category %}
                {% else %}
                  {% assign categories = categories | push: post.category %}
                {% endif %}
              {% endfor %}

              <div><a href="{{ site.baseurl }}/writing"/><i style="width:26px;color:#E88439;" class="fa fa-folder-open"></i>Toutes</a></div>

              {% for category in categories %}
                <div><a href="{{ site.baseurl }}/writing/category/{{ category | slugify }}"/><i style="width:26px;" class="fa fa-folder-open color-{{category}}"></i>{{category | replace: 'roadmap', 'Carnet de route' | capitalize }}</a></div>
              {% endfor %}
          </div>
          <hr />
          <div>
              <h3>Archives</h3>
              {% assign archives = "" | split:"|"  %}
              {% for post in site.posts %}
                {% assign archiveDate = post.date | date: "%B %Y" %}
                {% if archives contains archiveDate %}
                {% else %}
                  {% assign archives = archives | push: archiveDate %}
                {% endif %}
              {% endfor %}


              {% for archive in archives %}
                {% assign numberOfArchive = 0 %}

                {% for post in site.posts %}
                  {% assign archiveDate = post.date | date: "%B %Y" %}
                  {% if archive == archiveDate %}
                    {% assign numberOfArchive = numberOfArchive | plus: 1 %}
                  {% endif %}
                {% endfor %}

                <div><a href="{{ site.baseurl }}/writing/archive/{{ archive | slugify }}"/><i style="width:26px;color:#E88439;" class="fa fa-archive"></i> 
                  {{archive 
                    | replace: 'January', 'Janvier' 
                    | replace: 'February', 'Février' 
                    | replace: 'March', 'Mars' 
                    | replace: 'April', 'Avril' 
                    | replace: 'May', 'Mai' 
                    | replace: 'June', 'Juin' 
                    | replace: 'July', 'Juillet' 
                    | replace: 'August', 'Août' 
                    | replace: 'September', 'Septembre' 
                    | replace: 'October', 'Octobre' 
                    | replace: 'November', 'Novembre' 
                    | replace: 'December', 'Décembre'}}
                    ({{numberOfArchive}})</a></div>
              {% endfor %}
          </div>
          <hr />
          <h3>Tags</h3>
          
          <div class="post-preview-category">
            {% for photoTag in site.data.tags %}
              {% if photoTag.name == "separator" %}
                <hr style="border-top: 1px solid #555 !important;width: 100%;" />
              {% else %}
                <div><a style="color:white" href="{{ site.baseurl }}/writing/tag/{{ photoTag.name | slugify }}?tags={{photoTag.name}}">{{photoTag.displayName}}</a></div>         
              {% endif %}
            {% endfor %}
          </div>
      </div>
    
    </div>    
  </div>
<!-- </html> -->

<script>

  function displayAllBlock()
  {
    var cusid_ele = document.getElementsByClassName('cd-timeline-block');
    for (var i = 0; i < cusid_ele.length; ++i) {
        var item = cusid_ele[i];  
        item.style.display = 'block';
    }

    document.getElementById("displayMoreArticlesBlock").style.display = 'none'; 
  }

</script>
