---
layout: page
title: "2onzeroad"
description: "Carnet de voyages"
header-img: "assets/owner/hero/home-bg.jpg"
permalink: ./index.html
---



<html class="no-js" lang="en">
  <head>
    <meta content="charset=utf-8">
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  </head>

  <body>
    <!-- intro -->
    <div class="row">

      <div class="col-md-8">
        <section id="cd-timeline" class="cd-container">

          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-map">
            </div>

            <div class="cd-timeline-content">
                <h4 style="font-weight:600 !important;font-size: 20px;margin-top: 0;position:absolute;top:-24px;letter-spacing: -1px;" ><a href="{{ post.url | prepend: site.baseurl }}">Notre dernière position...</a></h4>

                  <div style="height: 100%;overflow: hidden;">
                    <img src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBouHmvjOZCF3-_wbMlNKK_A9XTb8NCS0s&zoom=6&size=540x270&maptype=roadmap&markers=color:blue%7Clabel:S%7C{{site.currentLocation.coordinates}}" style="width: 100%" />
                  </div>

                <span class="cd-date">
                  <a href="#"><i class="fa fa-calendar"></i> {{site.currentLocation.date}}</a> </br>
                  <a href="#" style="padding-left:4px;"><i class="fa fa-map-marker"></i> {{site.currentLocation.name}}</a> </br>
                </span>
            </div>
          </div>

          {% for post in site.posts limit:6 %}
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-{{post.category}}">
              </div>

              <div class="cd-timeline-content">
                  <h4 style="font-weight:600 !important;font-size: 20px;margin-top: 0;position:absolute;top:-24px;letter-spacing: -1px;" ><a href="{{ post.url | prepend: site.baseurl }}">{{ root_url }} {{ post.title }}</a></h4>

                  <div style="height: 100%;display: flex">
                    <div style="height: 100%;width: 60%;background-image: url('{{post.thumbnail}}');background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
                    <div style="height: 100%;width: 240px;padding:5px 10px 5px 10px;font-size: 16px;line-height: 21px;">
                      {{ post.preview }}
                    </div>
                  </div>
                  <span class="cd-date">
                    <a href="#"><i class="fa fa-calendar"></i> {{ root_url }}{{ post.date | date: "%-d %-b %y" }}</a> </br>
                    <a href="#" style="padding-left:4px;"><i class="fa fa-map-marker"></i> {{ post.city }}{% if post.city and post.country %}, {% endif %}{{ post.country }}</a> </br>
                    <div class="post-preview-category">
                        {% for tag in post.tags %}
                            <div><a href="{{ site.baseurl }}/writing/tag/{{ tag  | slugify }}/" title="Autres posts taggés avec {{ tag }}" rel="tag">{{ tag }}</a></div>
                        {% endfor %%}
                    </div>
                  </span>
              </div>
            </div>
          {% endfor %}
        </section>
      </div>
   
      <div class="col-md-4" style="padding-left:70px;">
          <div>
              <h3>Nos destinations</h3>
              {% assign destinations = "" | split:"|"  %}
              {% for post in site.posts %}
              {% if destinations contains post.country %}
                {% else %}
                  {% assign destinations = destinations | push: post.country %}
                {% endif %}
              {% endfor %}

              <ul>
              {% for destination in destinations %}
                <li><a href="{{ site.baseurl }}/writing/destination/{{ destination | slugify }}"/>{{destination}}</a></li>
              {% endfor %}
              </ul>
          </div>
          <div>
              <h3>Archives</h3>
              {% assign archives = "" | split:"|"  %}
              {% for post in site.posts %}
                {% assign archiveDate = post.date | date: "%B %y" %}
                {% if archives contains archiveDate %}
                {% else %}
                  {% assign archives = archives | push: archiveDate %}
                {% endif %}
              {% endfor %}


              <ul>
              {% for archive in archives %}
                {% assign numberOfArchive = 0 %}

                {% for post in site.posts %}
                  {% assign archiveDate = post.date | date: "%B %y" %}
                  {% if archive == archiveDate %}
                    {% assign numberOfArchive = numberOfArchive | plus: 1 %}
                  {% endif %}
                {% endfor %}

                <li><a href="{{ site.baseurl }}/writing/archive/{{ archive | slugify }}"/>{{archive}} ({{numberOfArchive}})</a></li>
              {% endfor %}
              </ul>
          </div>
          <h3>Tags</h3>
              
          <ul>
              {% for photoTag in site.photo_tags %}
                <li class="post-preview-category" style="margin-bottom:0px !important;"><div style="margin-right: 3px !important;"><a style="color:white" href="{{ site.baseurl }}/writing/tag/{{ photoTag | slugify }}">{{photoTag}}</a></div></li>
              {% endfor %}
          </ul>

      </div>
    
    </div>

  </body>
</html>

{% assign tags = "" | split:"|"  %}
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% if tags contains tag %}
    {% else %}
      {% assign tags = tags | push: tag %}
    {% endif %}
  {% endfor %}
{% endfor %}

<script>
$(document).ready(function() {

    var words = [
                    {% for tag in site.photo_tags %}


          {% assign numberOfTag = 2 %}
          {% for post in site.posts %}
            {% if post.tags contains tag %}
              {% assign numberOfTag = numberOfTag | plus: 1 %}
            {% endif %}
          {% endfor %}
          {text: "{{tag}}", weight: 8, link: '{{ site.baseurl }}/writing/tag/{{ tag | slugify }}' },
        {% endfor %}

    ];

    

    $('#cloudTag').jQCloud(words, {
        autoResize: true,
        fontSize: {
          from: 0.15,
          to: 0.02
        }

    });
});
</script>