---
layout: default
---

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{root_url}}/assets/libs/css/galleries.css">
        <link rel="stylesheet" href="{{root_url}}/assets/libs/css/magnificpopup.css"">
    </head>
    <body> 
        <!-- Footnotes CSS-->
        <link href="{{root_url}}/assets/libs/css/bigfoot.css" rel="stylesheet" />
        {% assign post = page %}

        <article>
        <!-- Post Header -->
            <header class="intro-header" style="background-image: url('{{root_url}}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                            <div class="page-heading">
                                <h1>{{ page.title }}</h1>
                                {% if page.subtitle %}
                                <hr class="small">
                                <span class="subheading">{{ page.subtitle }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="time-tag-categ" style="width:100%;height:32px;background-color:#0080FF;color:#FFF">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" style="padding:5px">
                                <i class="fa fa-pencil" style="padding:0 5px 0 10px"></i>{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}
                                <i class="fa fa-calendar" style="padding:0 5px 0 10px"></i>{{ page.date | date: "%B %-d, %Y" }}

                                {% assign minutes = content | number_of_words | divided_by: 180 %}
                                <i class="fa fa-clock-o" style="padding:0 5px 0 10px"></i>{% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
                                {{ minutes }} min.

                                {% if post.tags.size > 0 %}
                                {% if post.tags.size == 1 %} {% else %}<i class="fa fa-tags" style="padding:0 5px 0 10px"></i>{% endif %}
                                {% for tag in page.tags %}<a href="{{ site.baseurl }}/writing/tag/{{  tag | cgi_encode }}/" data-toggle="tooltip" title="Other posts tagged with {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}{% endif %}

                                {% if post.categories.size > 0 %}
                                    {% if post.categories.size == 1 %}<i class="fa fa-briefcase" style="padding:0 5px 0 10px"></i>{% endif %}<span>{% for tag in page.categories %}<a href="{{ site.baseurl }}/writing/category/{{ tag | cgi_encode }}/" data-toggle="tooltip" title="Other posts filed in {{ tag }} category" rel="tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %%}{% endif %}</span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            {% include breadcrumbs.html path=page.path title=page.title %}
                        </div>
                    </div>
                </div>
            </header>



            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">





{% if page.location %}
<div class="mapping">
  <div class="map-canvas" id="map-event"></div>
  <div class="map-point" address="{{ page.location.address }}" latitude="{{ page.location.latitude }}" longitude="{{ page.location.longitude }}">
    <div><b>{{ page.title }}</b></div>
    <div>{{ page.location.address }}</div>
  </div>
</div>
{% endif %}


<a data-flickr-embed="true"  href="https://www.flickr.com/photos/127048817@N07/30175107211/" title="Epave - Marigot - [Saint-Martin]"><img src="https://c4.staticflickr.com/6/5692/30175107211_672eb314bb_z.jpg" width="640" height="360" alt="Epave - Marigot - [Saint-Martin]"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>


                        {{ content }} 
                        <br>
                        {% if site.share %}{% include share.html %}{% endif %}
                            {% include signoff.html %} 
                        {% if site.comments %}{% include disqus_comments.html %}{% endif %}       
                        <br>
                        <ul class="pager">
                            {% if page.previous.url %}
                            <li class="previous">
                                <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                            </li>
                            {% endif %}
                            {% if page.next.url %}
                            <li class="next">
                                <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </body>
</html>



