---
layout: default
title: destination archive
---

{% assign relatedPosts = "" | split:"|"  %}
{% for post in site.posts %}
    {% assign archiveDate = post.date | date: "%B %Y" %}
    {% if archiveDate == page.archive-date %}
        {% assign relatedPosts = relatedPosts | push: post %}
    {% endif %}
{% endfor %}

{% assign displayDate = page.archive-date 
| replace: 'January', 'Janvier' 
| replace: 'February', 'Février' 
| replace: 'March', 'Mars' 
| replace: 'April', 'Avril' 
| replace: 'May', 'Mai' 
| replace: 'June', 'Juin' 
| replace: 'July', 'Juillet' 
| replace: 'August', 'Août' 
| replace: 'September', 'Septembre' 
| replace: 'October', 'Octobre' 
| replace: 'November', 'Novembre' 
| replace: 'December', 'Décembre' %}

{% include basic_header.html title=displayDate subTitle="" %}

<div class="container">
    <div id="post-content">
        <div class="row">
            {% for post in relatedPosts %}
                <div class="col-md-3 col-sm-6 col-xs-12 col-xxs-12">
                    {% include post_preview.html %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>