---
layout: page
title: destination archive
---

{% assign relatedPosts = "" | split:"|"  %}
{% for post in site.posts %}
    {% if post.country == page.destination %}
        {% assign relatedPosts = relatedPosts | push: post %}
    {% endif %}
{% endfor %}


<div id="post-content">
    <h3>Articles de <strong>{{page.destination}}</strong>...</h3>
    
    <div class="row">
        {% for post in relatedPosts %}
            <div class="col-md-3 col-sm-6 col-xs-12 col-xxs-12">
                {% include post_preview.html %}
            </div>
        {% endfor %}
    </div>
</div>

<h3 style="margin-top:60px;">Photos contenant le tag <strong>{{page.destination}}</strong>...</h3>

<style type="text/css"> 
.flickr_badge_image {margin:0px;display:inline-flex;}
.flickr_badge_image a {pointer-events: none;}
.flickr_badge_image img {border: 0px solid #666666 !important; padding:1px; margin:2px;}
#flickr_badge_wrapper {width:100%;text-align:center}
</style>
<div id="flickr_badge_wrapper">
    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&display=latest&size=m&layout=x&source=user_tag&user=127048817@N07&tag={{page.destination}}"></script>
</div>
