---
layout: page
title: destination archive
---

{% assign relatedPosts = "" | split:"|"  %}
{% for post in site.posts %}
    {% if post.country == page.destination %}
        {% assign relatedPosts = relatedPosts | push: post %}
    {% endif %}
{% endfor %}

{% if page.flickr-tag == "" %}
    {% assign tagClean = page.destination %}
    {% if tagClean contains " - " %}
        {% assign tagCleanArray = tagClean | split: " - "  %}
        {% assign tagClean = tagCleanArray | last  %}
    {% endif %}
{% else %}
    {% assign tagClean = page.flickr-tag %}
{% endif %}

<style type="text/css"> 
.flickr_badge_image {margin:0px;display:inline-flex;}
.flickr_badge_image a {pointer-events: none;}
.flickr_badge_image img {border: 0px solid #666666 !important; padding:1px; margin:2px;}
#flickr_badge_wrapper {width:100%;text-align:center}
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">

    function onClientLoad() {
        gapi.client.load("youtube", "v3", onYouTubeApiLoad);
    }

    function onYouTubeApiLoad() {
        gapi.client.setApiKey("AIzaSyBouHmvjOZCF3-_wbMlNKK_A9XTb8NCS0s");
        search("");
    }

    function search(query) {
        var request = gapi.client.youtube.search.list({
            part: "id, snippet",
            channelId: "UCOwPyMvDSTzLNLP8xoDLe2g",
            type: "video",
            q: query
        });

        request.execute(function (response) {
            /* sort through the list until a video comes up, then set the URL link */
            var link = "";
            console.log(response);
            var keyWord = "{{page.destination}}";

            var videoContainer = $("#iVideo");
            videoContainer.empty();

            if(response.items){
                for(var i = 0; i < Math.min(response.items.length, 10); i++){
                    console.log(response.items[i].snippet.title.toLowerCase());
                    if (response.items[i].id.kind === "youtube#video" && response.items[i].id.videoId && response.items[i].snippet.title.toLowerCase().includes(keyWord.toLowerCase()))
                    { 
                        link = "http://www.youtube.com/embed/" + response.items[i].id.videoId + "?HD=1;rel=0;showinfo=1"; 

                        var iframe = document.createElement('iframe');
                        iframe.src = link;
                        iframe.frameBorder = "0";
                        iframe.style = "padding:5px;";
                        iframe.setAttribute('allowFullScreen', '')
                        
                        videoContainer.append(iframe);
                    }
                }
            }
        });
    }
</script>

<script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>


<div id="post-content">
    <div class="row">
        <div class="col-md-8" style="text-align: left;padding-bottom: 20px;">
             <h3>Aperçus de photos taggées <strong>{{tagClean}}</strong>... </h3>
        </div>

        <header class="island" style="display:none">
            <form class="js-form-search form-search" action="/search" method="get" role="search">
                <label style="font-size: 17px;" for="query">Search:</label>
        
                <div style="position: absolute;top: 80px; left: 90px;" id="outerFilterDiv">
                    <input name="query" type="text" id="query" tabindex="2" style="height: 18px;color:#333;font-size: 13px;width: 140px;position: absolute; top: 1px; left: 1px; z-index: 2;border:none;" />
                    <div style="position: absolute;" id="filterDropdownDiv">
                        <select name="filterDropDown" id="filterDropDown" tabindex="1000" onchange="DropDownTextToBox(this,'query');" style="height: 20px;position: absolute;top: 0px; left: 0px; z-index: 1; width: 165px;">
                            <optgroup label="Theme">
                                {% for photoTag in site.data.tags %}
                                    <option value="{{photoTag.name}}">{{photoTag.displayName}}</option>    
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                </div>
        
                <input type="submit" value="Search" style="position: absolute;top: 80px; left: 280px;height: 21px;font-size: 13px;color: #333;"/>
            </form>
        </header>

        <div class="island" style="display:none">
            <h3 id="photoTitle"></h3>
            <div class="js-gallery gallery">
            <img src="" class="js-gallery__image" />
            <button class="js-gallery__arrow--left gallery__arrow gallery__arrow--left">
            </button>
            <button class="js-gallery__arrow--right gallery__arrow gallery__arrow--right">
            </button>
            </div>
        </div>

        <div class="island thumbnails" style="margin-bottom: -20px;">
            <ul class="js-thumbnails__list thumbnails__list"></ul>
            <ol class="js-thumbnails__pager thumbnails__pager"></ol>
        </div>
        
        <!-- include the Flickr client -->
        <script src="{{ site.url }}/assets/libs/js/flickr/utility.js"></script>
        <script src="{{ site.url }}/assets/libs/js/flickr/gallery.js"></script>
        <script src="{{ site.url }}/assets/libs/js/flickr/flickr.js"></script>
        <script src="{{ site.url }}/assets/libs/js/flickr/main.js"></script>
        <script src="{{ site.url }}/assets/libs/js/flickr/script.js"></script>
        <script>
        
        Website.Homepage.init();
        
        </script>


        <div class="col-md-4" style="text-align: right">
             <h3><a style="color:white" href="{{ root_url }}/gallery/?tag={{tagClean}}">...vers la galerie</a> </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="flickr_badge_wrapper">
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=14&display=latest&size=s&layout=x&source=user_tag&user=144140566@N03&tag={{tagClean}}"></script>
            </div>
        </div>
    </div>

    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-12">
            <h3>Vidéos de <strong>{{page.destination}}</strong>...</h3>
        </div>
    </div>

    <div class="row" style="padding: 0px 15px;">
        <div id="iVideo"></div>
    </div>

    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-12">
            <h3>Articles de <strong>{{page.destination}}</strong>...</h3>
        </div>
    </div>
    <div class="row">
        {% for post in relatedPosts %}
            <div class="col-md-3 col-sm-6 col-xs-12 col-xxs-12">
                {% include post_preview.html %}
            </div>
        {% endfor %}
    </div>
</div>

